<h3>About</h3>
<p>这是一个用来搜索人名的小工具，基本上可以搜出各种知名人士，语音功能大概只有Chrome能用了。</p>
<h4>Example</h4>
<p><a href="/?q=上海交通大学校长是谁">上海交通大学校长是谁</a></p>
<p><a href="/?q=上海交通大学软件学院院长">上海交通大学软件学院院长</a></p>
<p><a href="/?q=中国总书记">中国总书记</a></p>
<p><a href="/?q=中国总理">中国总理</a></p>
<p><a href="/?q=蔡依林前男友是谁">蔡依林前男友是谁</a></p>
<p><a href="/?q=百度CEO">百度CEO</a></p>
<p><a href="/?q=360CEO">360CEO</a></p>
