<form class="form-search" action="/">
<input name="q" type="text" <%= "value=#{@query}" if @query %> class="input-medium search-query" x-webkit-speech>
<button type="submit" class="btn">Search</button>
</form>
<% if @query %>
<h3>Answer</h3>
<p><%= @answer %></p>
<h3>Alternative Answers</h3>
<p><%= @alternates.join ', ' %></p>
<% end %>
